<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Page</title>
    <!-- Bootstrap CSS -->
    <style>
        .cart-icon {
        position: relative;
        }

        .cart-counter {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: red;
        color: white;
        padding: 5px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        text-align: center;
        font-size: 12px;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Header Section -->
    <header class="bg-dark text-white text-center p-4">
        <h1>Cart</h1>
    </header>

    <!-- Cart Items -->
    <section id="cart-items" class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h2>Your Cart</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(cart_items|length) %}
                        <tr>
                            <td>{{cart_item_names[i]}}</td>
                            <td>{{cart_items[i].price}}</td>
                            <td>
                                <input type="number" class="form-control" id='{{cart_items[i].id}}' value="{{cart_items[i].quantity}}" min="1">
                            </td>
                            <td>{{cart_items[i].total_price}}</td>
                            <td>
                                <button class="btn btn-danger btn-sm remove-item">Remove</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Order Summary</h2>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Subtotal:</td>
                            <td>${{subtotal}}</td>
                        </tr>
                        <tr>
                            <td>Tax:</td>
                            <td>${{tax}}</td>
                        </tr>
                        <tr>
                            <td>Total:</td>
                            <td>${{total}}</td>
                        </tr>
                    </tbody>
                </table>
                {% if cart_items|length != 0 %}
                <a href="{{url_for('billing_page')}}"><button class="btn btn-primary w-100">Checkout</button></a>
                {% else %}
                <a href=""><button class="btn btn-primary w-100">Checkout</button></a>
                {% endif %}
            </div>
        </div>
    </section>

    <!-- Bootstrap & jQuery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            // Remove item from cart
            $('.remove-item').click(function() {
                var tr = $(this).closest('tr');

                // Find the input inside the tr
                var input = tr.find('input');

                // Get the value of the input
                var item_id = input.attr('id');

                $.ajax({
                    url: '/remove_item_from_cart',
                    type: 'POST',
                    data: {
                        item_id: item_id
                    },
                    success: function(response) {
                        window.location.href = window.location.href;
                    }
                });
                // $(this).closest('tr').remove();
            });
        });
    </script>
    <script>
        $(document).ready(function() {
        
          $('.form-control').change(function() {
        
            var quantity = $(this).val();
            var item_id = $(this).attr('id');
            
            $.ajax({
              url: '/update_quantity',
              type: 'POST',
              data: {
                item_id: item_id, 
                quantity: quantity
              },
              success: function(response) {
                window.location.href = window.location.href;
              }
            });
        
          });
        
        });
        </script>
</body>
</html>