<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>Browser</title>
</head>

<body>
  <h1> RESET YOUR PASSWORD
  </h1>
  <form method="POST" action=" {{ url_for('update_password') }}">
    <label for="pwd"> Enter your new Password:</label>
    <input type="password" id="pwd" name="password"> <br><br>
    <label for="pwd">Confirm Password:</label>
        {% if state == "invalid" %}
            <p style="color: red;">Confirm password doesn't match with password<br>please verify password again</p>
        {% endif %}
    <input type="password" id="pwd" name="confirmPassword">
    <button type="submit">Submit</button>
</form>
  <!--<script src="script.js"></script>..>-->
</body>

</html>