<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>BOOKQUEST</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/home_page.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
	<header>
		<nav id="nav">
			<div class="logo nav-common" width="10px" height="20px">
				<img src="../static/Logo_image.jpg" alt="brand-logo">
			</div>
			<ul class="nav-common">
				<li><a href="#">home</a></li>
				<li><a href="#products">products</a></li>
				<li><a href="#findmylib">findmylib</a></li>
				<li><a href="#contact">contact</a></li>
                <li><a href="#subscription">Subscribe</a></li>
			</ul>
			<div class="cart nav-icon nav-common"><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412544/E-commerce%20landing%20page/icons/shopping_cart_1x.png" alt="shopping-cart"></div>
			<div class="menu nav-icon nav-common"><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412543/E-commerce%20landing%20page/icons/menu_1x.png" alt="hamburger-menu"></div>
		</nav>
		
	</header>

	<ul class="section-switcher">
		{% for i in range(sections|length) %}
			{% if sections[i] != current_section %}
				<li><a href="{{ url_for('sectionClicked', section=sections[i]) }}">{{ sections[i] }}</a></li>
			{% else %}
				<li><a class="selected-section">{{ sections[i] }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	<turbo-frame id="products">
		<div class="container">
			{% for i in range(book_names|length) %}
			{% if book_names|length - i == 4 %}
				<script>
				document.body.scrollTop = document.body.scrollHeight;
			</script>
			{% endif %}
			<div class="product">
				<a href="{{ url_for('product_page', coverId=cover_ids[i] | int) }}">
				<figure> <img src="../static/covers/{{cover_ids[i]}}.jpg " alt="product-image">
					<figcaption>{{book_names[i]}}</figcaption>
					<figcaption>40.00$</figcaption>
				</figure>
				</a>
			</div>
			{% endfor %}
		</div>
		<a href="{{url_for('nextPageClicked', section=current_section)}}"><button> Next </button></a>
	</turbo-frame>
	
	
	<section id="contact">
		<div class="container">
			<h4>cantact us</h4>
			<p>One Grand N Blvd, St.Louis, Missouri, 63103.</p>
			<p>+ (42) 442 4521</p>
			<p>bookquest23@gmail.com</p>
			<p class="email">emailus <span><img alt="email-image"></span></p>
		</div>
	</section>
	<footer>
		<p class="copy-right"><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412543/E-commerce%20landing%20page/icons/copy-right-img_1x.png" alt="copy right image" /> 2017 all right recived </p>
		<p>privacy policy</p>
		<p>license</p>
	</footer>
	<div class="back-to-top"><a href="#nav"> <img title="Back to Top." src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412541/E-commerce%20landing%20page/icons/back_-_top_1x.png" alt="back to top"></a> </div>
	
</body>

</html>