<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>BOOKQUEST</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/home_page.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>

<body>
	{% include "header.html" %}
	<!-- <section id="">
		<div class="container">
			<div class="">
				<h1>Book collection</h1>
				<p class="description"></p>
				<a href="#"></a> 
			</div>
			<div class="sc-media">
				<div class="sc-media-bg"> <img src="../static/Image_Tilte.jpeg" alt="sc-image" /> </div>
			</div>
		</div>
	</section> -->
	<ul class="section-switcher">
		{% for i in range(sections|length) %}
			{% if sections[i] != current_section %}
				<li><a href="{{ url_for('sectionClicked', section=sections[i]) }}">{{ sections[i] }}</a></li>
			{% else %}
				<li><a class="selected-section">{{ sections[i] }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	<turbo-frame id="products">
		<div class="container">
			{% for i in range(book_names|length) %}
			{% if book_names|length - i == 4 %}
				<script>
				document.body.scrollTop = document.body.scrollHeight;
			</script>
			{% endif %}
			<div class="product">
				<a href="{{ url_for('individualproduct_page', coverId=cover_ids[i] | int) }}">
				<figure> <img src="../static/covers/{{cover_ids[i]}}.jpg " alt="product-image">
					<figcaption>{{book_names[i]}}</figcaption>
					<figcaption>40.00$</figcaption>
				</figure>
				</a>
			</div>
			{% endfor %}
		</div>
		<div class="paging-buttons">
			<button><a href="{{url_for('prevPageClicked', section=current_section)}}">prev page</a></button>
			<button><a href="{{url_for('nextPageClicked', section=current_section)}}">next page</a></button>
		  </div>
		
		
	</turbo-frame>
	
	<!-- <section id="products">
		<div class="container">
			<div class="products-header">
				<h2>popular products</h2>
				<p> Welcome to Bookquest your one stop destination to all your book queries and worries</p>
			</div>
			<div class="product product-1">
				<figure> <img src="../static/Cmpscience_textbook.jpeg" alt="product-image">
					<figcaption>Computer Science Textbook</figcaption>
					<figcaption>40.00$</figcaption>
				</figure>
			</div>
			<div class="product product-2">
				<figure> <img src="../static/Cn_textbook.jpeg" alt="product-image">
					<figcaption>Computer Networks textbook</figcaption>
					<figcaption>35.50$</figcaption>
				</figure>
			</div>
			<div class="product product-3">
				<figure> <img src="../static/dbms_textbook.jpeg" alt="product-image">
					<figcaption>DataBases Textbook</figcaption>
					<figcaption>70.32$</figcaption>
				</figure>
			</div>
			<div class="product product-4">
				<figure> <img src="../static/novel_book.jpeg" alt="product-image">
					<figcaption>3 Mistakes of my life</figcaption>
					<figcaption>89.00$</figcaption>
				</figure>
			</div>
		</div>
	</section> -->
	<section id="contact">
		<div class="container">
			<h4>contact us</h4>
			<p>One Grand N Blvd, St.Louis, Missouri, 63103.</p>
			<p>bookquest.quest@outlook.com</p>
			<p>email Us</p>
		</div>
	</section>
	<footer>
		<p class="copy-right"><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412543/E-commerce%20landing%20page/icons/copy-right-img_1x.png" alt="copy right image" /> 2017 all right recived </p>
		<p>privacy policy</p>
		<p>license</p>
	</footer>
	<div class="back-to-top"><a href="#nav"> <img title="Back to Top." src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412541/E-commerce%20landing%20page/icons/back_-_top_1x.png" alt="back to top"></a> </div>
	
</body>

</html>