<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Email Verification</title>
</head>
<body>
    <h1>Email Verification</h1>
    <p>To complete your registration, please enter the verification code sent to your email.</p>
    <form method="POST" action=" {{ url_for('verify') }}">
        {% if state == "forgot verify" or state == "forgot verify email invalid" %}
            <input type="text" name="email" placeholder="Enter Email" required>
            {% if state == "forgot verify email invalid" %}
                <p style="color: red;">Email doesn't exist, recheck your email</p>
            {% endif %}
        {% else %}
            <input type="text" name="verification_code" placeholder="Enter Verification Code" required>
            {% if state == "invalid" %}
                <p style="color: red;">Invalid verification code, new code is sent to you registed mail</p>
            {% elif state == "unverified" %}
                <p style="color: green;">User not verified, new code is sent to you registed mail</p>
            {% endif %}
        {% endif %}
        <br><br><i>please check you spam folder if you dont find email in your inbox</i><br><br>
        <button type="submit">Submit</button>

    </form>
</body>
</html>
